#animated-heading {
  width: 100%;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  margin: 0;

  background-color: black;
  color: white;
}

.animated-heading-wrapper {
  height: 10rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  padding: 10px;
  flex: 1;
  min-width: 300px;
}

.col--4 {
  flex: 0 0 50%;
}

.text--center {
  text-align: center;
}

.padding-horiz--md {
  padding: 0 15px;
}

.aboutMeSvg {
  max-height: 100px;
}

.aboutme {
  padding: 40px 0;
}

.aboutme h3 {
  font-size: 1.5em;
  margin: 20px 0 10px;
}

.aboutme p {
  font-size: 1em;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .col--4 {
    flex: 0 0 100%;
  }
}

footer p,
.contact-info {
  text-align: center;
}

ul {
  list-style-type: none;
}

.about-me {
  text-align: center;
}

a,
a:visited {
  color: #00FFFF;
  text-decoration: none;
}

a:hover {
  color: #FF00FF;
  text-decoration: none;
}

a:active {
  color: #FFFF00;
}

.current {
  color: #FF69B4 !important;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  border: solid 1px black;
  border-radius: 30px;
}

nav ul li a:hover {
  background-color: white;
}