@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

#animated-heading{
  width: 100%;
  text-align: center;
  
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
body{
  width: 100%;
  margin: 0;
  
  background-color: black;
  color: white;
}
header{
  height: 5rem;
}