#animated-heading{
  width: 100%;
  text-align: center;
}

h1, h2, h3, h4, p{
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body{
  width: 100%;
  margin: 0;
  
  background-color: black;
  color: white;
}

.animated-heading-wrapper{
  height: 10rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.col {
  padding: 10px;
  flex: 1;
  min-width: 300px;
}

.col--4 {
  flex: 0 0 33.3333%;
}

.text--center {
  text-align: center;
}

.padding-horiz--md {
  padding: 0 15px;
}

.aboutMeSvg {
  max-height: 100px;
}

.aboutme {
  padding: 40px 0;
}

.aboutme h3 {
  font-size: 1.5em;
  margin: 20px 0 10px;
}

.aboutme p {
  font-size: 1em;
  color: whitesmoke;
}

@media (max-width: 768px) {
  .col--4 {
    flex: 0 0 100%;
  }
}

footer p, .contact-info{
  text-align: center;
}

ul {
  list-style-type: none;
}

p strong{
  text-align: center;
}

a {
    color: #00FFFF;
    text-decoration: none;
}

a:hover {
    color: #FF00FF;
    text-decoration: underline;
}

a:active {
    color: #FFFF00;
}

a:visited {
    color: #FF69B4;
}